.LandingPage{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.siteHeading{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #1F2421;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightCol{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 16px;
}

#new, #existing {
    margin-top: 36px;
    background-color: #3A3335;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 300px;
}

#new:hover, #existing:hover {
    background-color: rgb(29, 26, 27);
}

@media only screen and (min-width: 640px) {
    .LandingPage {
        flex-direction: row;
    }
    .siteHeading{
        font-size: 50px;
        width: 50%;
    }

    .rightCol{
        width: 50%;
    }

    #new, #existing {
        margin-top: 36px;
        padding: 8px 32px;
        display: inline-block;
        font-size: 16px;
        width: 300px;
    }
}
