.true {
    text-decoration: line-through;
}

.habitName {
    text-align: center;
}

.checkedtrue {
    background-color:#124E78;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.checkedtrue:hover {
    background-color:rgb(27, 59, 82);
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.checkedfalse {
    display: none;
}